.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.input {
  width: 460px;
  padding: 12px 20px;
}

.playButton {
  padding: 4px 20px;
  border: 1px solid #ccc;
  border-radius: 20px;
  cursor: pointer;
}

.mainComponent {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  border: 2px solid #dcdcdc;
  padding: 24px;
  border-radius: 16px;
  background-color: #efefef;
}
